.characterInfo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 700px;
  color: white;

  &__wrapper {
    background-color: rgb(31, 26, 26);
    height: 100%;
    width: 100%;
  }

  &__name {
    text-align: center;
  }

  &__parametr {
    line-height: 44px;
  }
}
